.designTableWrapper {
  // bordser: 1px solid red;

  table {
    width: 187mm;
    border-collapse: collapse;
    border-spacing: 0; /*去掉单元格间隙*/
    border: none;
    td {
      border: 1px solid #a09d9d;
      width: 40px;
      height: 20px;
      // div {
      //   border: 1px solid blue;
      //   width: 100%;
      //   box-sizing: border-box;
      //   height: 100%;
      //   word-break: break-all;
      //   word-wrap: break-word;
      // }
    }
  }
}
#rcb_menu {
  display: none;
  position: fixed;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  z-index: 1100;
  // background-color: #f9f9f9;
  // box-shadow: 0 0 5px #252423;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 25%);
  padding: 10px 0;
  list-style: none;
}

#rcb_menu > li {
  box-sizing: border-box;

  // padding: 5px 10px 0 10px;
  // height: 30px;
  font: inherit;
  border: 0;
  padding: 10px 30px 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: #333;
  font-weight: 500;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}
#rcb_menu > li:hover {
  cursor: pointer;
  background: #f1f3f7;
}
#rcb_menu > .hr_break {
  padding: 0;
  height: 1px;
  background-color: #a2a2a2;
}
#rcb_menu > .hr_break:hover {
  background-color: #a2a2a2;
  cursor: default;
}
